/* blue: #4AD9D9 grey: #262626*/
.info {
  font-size: 2.2rem;
}
.description {
  font-size: 1.4rem;
}

.preview>img{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: inline;
  position: relative;
  z-index: 1;
}

.access-icons{
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 10;
}
.access-icons>img{
  background-color: rgba(255, 255, 255, 0.6);
}

.search-bar {
  background-color: #4AD9D9;
}
.search-form {
  margin-top: 10px;
}
.map-box {
  padding-left: 0;
  margin-left: -15px;
}

.form-control.search-input {
  width: 195px !important;
  padding-left: 5px !important;
  margin-left: -15px !important;
}
