<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TripClusive</title>

  <!-- StyleSheets -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,500,700,800' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" href="assets/css/front-page.css">
</head>

<body ng-app="app">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <a class="navbar-brand" href="#"><img class="navbar-logo" src="assets/img/TripClusive logo White.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="about-us.html">About</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>

  <div class="row text-center">
	  <div class="col-sm-10 col-sm-offset-1">
		  <div class="input-group">
			  <form action="" class="search-form form-inline">
				  <div class="input-group-btn">
					  <button type="button" class="btn btn-default">
						  <img src="assets/img/m1.png" width="20" alt="m1">
					  </button>
					  <button type="button" class="btn btn-default">
						  <img src="assets/img/m2.png" width="20" alt="m2">
					  </button>
					  <button type="button" class="btn btn-default">
						  <img src="assets/img/hs.png" width="20" alt="hs">
					  </button>
					  <button type="button" class="btn btn-default">
						  <img src="assets/img/h1.png" width="20" alt="h1">
					  </button>
					  <button type="button" class="btn btn-default">
						  <img src="assets/img/v1.png" width="20" alt="v1">
					  </button>
				  </div>
				  <input type="text" class="form-control search-input" placeholder="Where Do You Want To Go?">
				  <button type="submit" class="btn btn-md btn-default search-button">Search</button>
			  </form>
		  </div>
    </div>
  </div>


<div class="row">
  <div class="jumbotron">
  <!-- <div class="herobar col-sm-10 col-sm-offset-1"> -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="assets/img/slide-01.jpg" alt="garden image">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="assets/img/slide-02.jpg" alt="airport image">
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="assets/img/slide-03.jpg" alt="airport image">
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div> <!-- herobar end -->
  </div>
  <div class="main col-sm-12">
      <div class="sponsor-title">
          <h1>Suggested Location</h1>
      </div>
      <div ng-repeat="card in cards">
        <div class="venue panel panel-default col-sm-3">
            <img class="venue-image" src="{{venue.image_url}}" alt="{{venue.alt}}">
            <div>
               <p>{{venue.name}}</p>
               <p>{{venue.location}}</p>
            </div>
            <div ng-repeat="icon in icons" class="access-icons">
              <img src="{{icon.img}}" alt="{{icon.alt}}">
            </div>
        </div>
      </div>
  </div>
  <div class="footer">

  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/angular.min.js"></script>
</html>
